{% extends "polls/base.html" %}
{% block title %}Index title{% endblock %}

{% block content %}

<div class="content m-4">
    <table class="table table-sm">
    {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.first_name }} {{ u.last_name }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.role }}</td>
            <td>{{ u.create_time }}</td>
        </tr>
    {% endfor %}
    </table>
    </br>
    <table class="table">
        {% for v in users.vechicle_set %}
            <tr>
                <th>{{ v.id }}</th>
                <td>{{ v.user_vechicle }}</td>
                <td>{{ v.name }}</td>
                <td>{{ v.create_time }}</td>
                <td>{{ v.update_time }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>after vechicle table</p>
</div>

{% endblock %}