{% extends "polls/base.html" %}
{% block title %}Profile {{ u.first_name }} {{ u.last_name }} |{% endblock %}

{% block content %}

<table class="table table-sm">
    <tr>
        <th>{{ u.id }}</th>
        <td>{{ u.first_name }} {{ u.last_name }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.role }}</td>
    </tr>
</table>

<br/>

<div class="row mb-2">
    <div class="col"><h4>List of vehicles</h4></div>
    <a href="/{{ u.id }}/vehicle" class="btn btn-outline-success">Add new vehicle</a>
</div>

    <table class="table table-sm">
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Name</th>
                <th>Type</th>
                <th></th>
            </tr>
        {% for v in vehicles %}
            <tr>
                <th>{{ v.id }}</th>
                <td>{{ v.user }}</td>
                <td>{{ v.name }}</td>
                <td>{{ v.type }}</td>
                <td>
                    <a href="/{{ u.id }}/vehicle/{{ v.id }}" class="btn btn-outline-success py-0">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
<br/>
<div>
    <div class="row mb-2">
        <div class="col"><h4>List of activities</h4></div>
        <button type="submit" class="btn btn-outline-success">Add new activity</button>
    </div>
    <form method="post" action="/activity/edit/">
        {% csrf_token %}
        <table class="table table-sm">
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Vehicle</th>
                    <th>Distance [km]</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            {% for a in activities %}
                <tr>
                    <th>{{ a.id }}</th>
                    <td>{{ a.user }}</td>
                    <td>{{ a.vehicle }}</td>
                    <td>{{ a.distance }}</td>
                    <td>{{ a.date.isoformat }}</td>
                    <td>
                        <input type="hidden" name="">
                        <button type="submit" name="day" value="{{ a.date }}" class="btn btn-outline-success py-0">Edit</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
</div>

{% endblock %}