{% extends "polls/base.html" %}
{% block title %}Edit vehicle |{% endblock %}

{% block content %}

<table class="table table-sm">
    <tr>
        <th>{{ u.id }}</th>
        <td>{{ u.first_name }} {{ u.last_name }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.role }}</td>
        <td>{{ u.create_time }}</td>
    </tr>
</table>
<br/>

<h4>{{ u.first_name }} {{ u.last_name }}</h4>
<form method="POST">
    {% csrf_token %}
    <table class="table table-sm">
        <tr>
            <th>User</th>
            <th>Name</th>
            <th>Type</th>
            <th></th>
        </tr>
        <tr>
            <td>{{ u }}</td>
            <td>
                <input type="text" name="name" value="{{ v.name }}" class="w-100">
            </td>
            <td>
                {{ vehicle_form.as_p }}
            </td>
            <td>
                <button type="submit" name="edit" value="edit" class="btn btn-success py-0">Edit</button>
                <button type="submit" name="delete" value="delete" class="btn btn-danger py-0">Delete</button>
            </td>
        </tr>
    </table>
</form>

{% endblock %}